.nav {
  height: 100vh;
  width: 4rem;
  span {
    display: none;
  }
  img {
    width: 4rem;
    margin: none;
    padding: none;
  }
}

.logo path {
  fill: #6c757d;
  stroke: #6c757d;
}

@media (min-width: 992px) {
  .nav {
    width: 6rem;
    span {
      display: block;
    }
    img {
      width: 100%;
    }
    .logo {
      width: 5rem;
    }
  }
}
